@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./scroll-bar";
@import "./input";
@import "./countdown";
@import "./register-form";
@import "./event-details";

:root {
  --font-headline: sans-serif;
  --font-body: "Baloo 2 Variable", sans-serif;
  --font-arcade: "Arcade Interlaced", sans-serif;
  --font-enter: "Las Enter", sans-serif;
}

html,
body,
#root {
  height: 100%;
  font-family: var(--font-body);
}

@layer base {
  .max-content-wrapper {
    max-width: 428px;
    margin-inline: auto;
  }
}
